*{
  box-sizing: border-box;
}
body{
  padding: 20px;
  font-family: Outfit;
  background-color:hsl(217, 54%, 11%);
}
.container1{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container2{
  width: 27%;
  height:100%;
  padding: 15px;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
}
a{
  text-decoration: none;
  color:hsl(215, 51%, 70%);
}
a:hover{
  cursor: pointer;
  color: hsl(178, 100%, 50%)
}
.div1{
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
}
.equilibrum{
  width: 100%;
  border-radius: 12px;
  display: block;
}
.img-overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  hsl(178, 100%, 50%,0.5);
  display:none;
}
.img-overlay img{
  position: absolute;
  width: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.div1:hover .img-overlay{
  display: block;
  cursor: pointer;
}
.div2{
  height:70%;
  color:hsl(215, 51%, 70%);
}
.div2 h3{
  color:#fff;
  margin: 5px 0;
}

.flex{
  border-bottom: hsl(215, 32%, 27%) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 20px 10px;
}
.flex img{
  vertical-align: middle;
}
.flex p{
  margin: 0;
  font-size: 15px;
  display: inline-block;
}
.flex div:first-of-type p{
  color:hsl(178, 100%, 50%);
}
.avatar{
  height: 40px;
  display: inline-block;
  border: #fff 1px solid;
  border-radius: 20px;
}
.footer{
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  margin: 0;
  padding: 10px 0 0 0;
}
.creator{
  display: inline-block;
}
.attribution{
  color:hsl(215, 51%, 70%);
}
@media(max-width:1000px){
.container2{
  width: 300px;
}
}